.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header h2 {
  color: var(--white);
}

.header-button {
  background-color: var(--orange);
  color: var(--white);
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
