<section>
  <div class="list-products-search-products">
    <div>
        <input
        type="text"
        class="list-products-filter"
        placeholder="Procurar sapato..."
        autofocus
        [(ngModel)]="filter"
      />
      <button class="list-products-search-product" (click)="searchProduct()">Pesquisar</button>
    </div>
    <select class="list-products-select-filter" [(ngModel)]="filterType" (change)="getAllFavorites()">
      <option class="list-products-select-option" hidden>Filtrar por</option>
      <option class="list-products-select-option">Todos</option>
      <option class="list-products-select-option">Favoritos</option>
    </select>
  </div>
  <div *ngIf="productList.length > 0; else noMoreProducts">
    <div *ngFor="let item of productList">
      <app-product [product]="item"></app-product>
    </div>
  </div>
</section>
<app-pagination
  *ngIf="productList.length > 0"
  [hasMoreProducts]="hasMoreProducts"
  (click)="loadMoreProducts()"
></app-pagination>
<ng-template #noMoreProducts>
  <div class="ff-inter no-products">
    <p>Não há produtos cadastrados</p>
  </div>
</ng-template>
