<section class="create-product-container ff-inter">
  <header class="header">
    <h2>Criar sapato</h2>
  </header>
  <form class="create-product-form" [formGroup]="form">
    <label class="create-product-label" for="nome">Nome</label>
    <input id="nome" formControlName="name" placeholder="Digite o nome" />
    <div
      class="error"
      *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched"
    >
      Nome é obrigatório!
    </div>
    <div
      class="error"
      *ngIf="form.get('name')?.errors?.['pattern'] && form.get('name')?.touched"
    >
      Nome não pode começar com espaços em branco!
    </div>
    <label class="create-product-label" for="Imagem">Preço</label>
    <input
      id="Preco"
      type="number"
      formControlName="price"
      placeholder="Digite o preço"
    />
    <div
      class="error"
      *ngIf="form.get('price')?.errors?.['required'] && form.get('price')?.touched"
    >
      Preço é obrigatório!
    </div>
    <div
      class="error"
      *ngIf="form.get('price')?.errors?.['pattern'] && form.get('price')?.touched"
    >
      Preço precisa ser maior que zero
    </div>
    <label class="create-product-label" for="Imagem">Imagem</label>
    <input id="Imagem" formControlName="image" placeholder="Link da imagem" />
    <div
      class="error"
      *ngIf="form.get('image')?.errors?.['required'] && form.get('image')?.touched"
    >
      Imagem é obrigatória!
    </div>
    <div
      class="error"
      *ngIf="form.get('image')?.errors?.['pattern'] && form.get('image')?.touched"
    >
      Imagem precisa conter os arquivos .png ou .jpg
    </div>
    <label class="create-product-label" for="descricao">Descrição</label>
    <textarea
      id="Descrição"
      formControlName="description"
      placeholder="Digite a descrição"
      rows="10"
    ></textarea>
    <div
      class="error"
      *ngIf="form.get('description')?.errors?.['required'] && form.get('description')?.touched"
    >
      Descrição é obrigatória!
    </div>
    <div
      class="error"
      *ngIf="form.get('description')?.errors?.['pattern'] && form.get('description')?.touched"
    >
      Descrição precisa ter no mínimo três caractéres
    </div>
    <div class="acoes">
      <button
        (click)="createProduct()"
        class="create-product-save"
        [disabled]="!form.valid"
        [ngClass]="enableButton()"
      >
        Salvar
      </button>
      <button type="button" (click)="cancel()" class="create-product-cancel">
        Cancelar
      </button>
    </div>
  </form>
</section>
